<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <%- include('partials/home') %>
    <%- include('partials/about') %>
    <%- include('partials/services') %>
  </body>
</html>
