<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <!-- partials -->
    <%- include('partials/header') %>
    <%- include('partials/home') %>
    <%- include('partials/services') %>
    <%- include('partials/freelancer') %>
    <%- include('partials/carousel') %>
    <%- include('partials/work') %>
    <%- include('partials/blog') %>
    <%- include('partials/contact') %>
    <%- include('partials/footer') %>

    <!-- scripts -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
  </body>
</html>
